In [7]:
import pandas as pd
from eurostatapiclient import EurostatAPIClient

client = EurostatAPIClient('v2.1', 'json', 'en')

params = {'geo': 'EL', 'unit': 'CP_MEUR', 'na_item': 'B1GQ'}
df = client.get_dataset('nama_10_gdp', params).to_dataframe()
df.dropna(inplace = True)
df['values'] = df['values'] / 1000
df['time'] = pd.to_datetime(df['time'])
df.set_index('time', inplace=True)

df

              values     unit na_item geo
time
1995-01-01  104.6621  CP_MEUR    B1GQ  EL
1996-01-01  114.9082  CP_MEUR    B1GQ  EL
1997-01-01  126.3538  CP_MEUR    B1GQ  EL
1998-01-01  129.0573  CP_MEUR    B1GQ  EL
1999-01-01  139.9451  CP_MEUR    B1GQ  EL
2000-01-01  142.9760  CP_MEUR    B1GQ  EL
2001-01-01  152.1938  CP_MEUR    B1GQ  EL
2002-01-01  163.4608  CP_MEUR    B1GQ  EL
2003-01-01  178.9049  CP_MEUR    B1GQ  EL
2004-01-01  193.7158  CP_MEUR    B1GQ  EL
2005-01-01  199.2423  CP_MEUR    B1GQ  EL
2006-01-01  217.8616  CP_MEUR    B1GQ  EL
2007-01-01  232.6946  CP_MEUR    B1GQ  EL
2008-01-01  241.9904  CP_MEUR    B1GQ  EL
2009-01-01  237.5342  CP_MEUR    B1GQ  EL
2010-01-01  224.1240  CP_MEUR    B1GQ  EL
2011-01-01  203.3082  CP_MEUR    B1GQ  EL
2012-01-01  188.3806  CP_MEUR    B1GQ  EL
2013-01-01  179.8844  CP_MEUR    B1GQ  EL
2014-01-01  177.2360  CP_MEUR    B1GQ  EL
2015-01-01  176.3689  CP_MEUR    B1GQ  EL
2016-01-01  174.4942  CP_MEUR    B1GQ  EL
2017-01-01  176.9034  CP_MEUR    B1GQ  EL
2018-01-01  179.5577  CP_MEUR    B1GQ  EL
2019-01-01  183.2504  CP_MEUR    B1GQ  EL
2020-01-01  165.3264  CP_MEUR    B1GQ  EL

In [6]:
df['values'] / 1000

time
1995-01-01    104.6621
1996-01-01    114.9082
1997-01-01    126.3538
1998-01-01    129.0573
1999-01-01    139.9451
2000-01-01    142.9760
2001-01-01    152.1938
2002-01-01    163.4608
2003-01-01    178.9049
2004-01-01    193.7158
2005-01-01    199.2423
2006-01-01    217.8616
2007-01-01    232.6946
2008-01-01    241.9904
2009-01-01    237.5342
2010-01-01    224.1240
2011-01-01    203.3082
2012-01-01    188.3806
2013-01-01    179.8844
2014-01-01    177.2360
2015-01-01    176.3689
2016-01-01    174.4942
2017-01-01    176.9034
2018-01-01    179.5577
2019-01-01    183.2504
2020-01-01    165.3264
Name: values, dtype: float64